@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 box"><a href="~/Admin/AdminLogin">Admin Login</a></div>
        <div class="col-md-4 box"><a href="~/Center/CenterLogin">Center Login</a></div>
        <div class="col-md-4 box"><a href="~/Student/StudentLogin">Student Login</a></div>
    </div>
</div>