
@{
    ViewBag.Title = "CenterLogin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <section class="main">
        <form class="form-2" method="post">
            <h1><span class="log-in">Log in</span></h1>
            @if (ViewBag.Error != null)
            {
                if (ViewBag.Error.Trim().Length > 0)
                {
                    <span style="color:red">@ViewBag.Error</span>
                }
            }
            <p class="float">
                <label for="login"><i class="icon-user"></i>Username</label>
                <input type="text" name="loginusername" id="loginusername" placeholder="Email">
            </p>
            <p class="float">
                <label for="password"><i class="icon-lock"></i>Password</label>
                <input type="password" name="loginpassword" id="loginpassword" placeholder="Password" class="showpassword">
            </p>
            <p class="clearfix">
                <input type="submit" name="submit" value="Log in">
            </p>
        </form>
    </section>
</div>
